<launch>

  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />
  <node pkg="mpc_test" name="half_scan" type="half_scan.py"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.18 0 0.1 3.14 0 0 base_link laser 100" />

  <arg name="IS_TWISTSTAMPED" default="true" />
  <arg name="publish_covariance" default="false"/>
  #### set up data playback from bag #############################
  <param name="/stamped_vel" value="$(arg IS_TWISTSTAMPED)"/>

  #### publish an example base_link -> laser transform ###########

  <!-- node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link laser 100" /-->

  #### start the laser scan_matcher ##############################

  <group if="$(arg publish_covariance)">
    <param name="laser_scan_matcher_node/do_compute_covariance" value="1"/>
    <param name="laser_scan_matcher_node/publish_pose_with_covariance" value="true"/>
    <param name="laser_scan_matcher_node/publish_pose_with_covariance_stamped" value="true"/>
  </group>
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node" output="screen">

    <param name="max_iterations" value="10"/>
  </node>


  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="/dev/ttyUSB0:57600" />
  </include>

  <param name="use_sim_time" value="false"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
      <remap from="scan" to="/half_scan"/>
      <param name="map_update_interval" value="5.0"/>
      <param name="maxUrange" value="5.0"/>
      <param name="sigma" value="0.05"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="5"/>
      <param name="lsigma" value="0.075"/>
      <param name="ogain" value="3.0"/>
      <param name="lskip" value="0"/>
      <param name="srr" value="0.1"/>
      <param name="srt" value="0.2"/>
      <param name="str" value="0.1"/>
      <param name="stt" value="0.2"/>
      <param name="linearUpdate" value="1.0"/>
      <param name="angularUpdate" value="0.5"/>
      <param name="temporalUpdate" value="3.0"/>
      <param name="resampleThreshold" value="0.5"/>
      <param name="particles" value="30"/>
      <param name="xmin" value="-10.0"/>
      <param name="ymin" value="-10.0"/>
      <param name="xmax" value="10.0"/>
      <param name="ymax" value="10.0"/>
      <param name="delta" value="0.05"/>
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.01"/>
      <param name="lasamplerange" value="0.005"/>
      <param name="lasamplestep" value="0.005"/>
    </node>

 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find mpc_test)/params/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find mpc_test)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mpc_test)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mpc_test)/params/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find mpc_test)/params/base_local_planner_params.yaml" command="load" />
    
 </node>
</launch>
